.profile__name {
  font-weight: 500;
  font-size: 42px;
  line-height: 56px;
  color: #ffffff;
  margin: 0;
  padding-bottom: 16px;
  word-break: break-word;
}

@media screen and (max-width: 582px) {
  .profile__name {
    font-size: 27px;
    padding-bottom: 14px;
  }
}
