@import url(./_add/button_add.css);
@import url(./_edit/button_edit.css);
@import url(./_like/button_like.css);
@import url(./_like/_like-counter/button_like-counter.css);
@import url(./_like/_active/button_like_active.css);
@import url(./_delete/button_delete.css);
@import url(./_delete/button_delete_visible/button_delete_visible.css);
@import url(./_close/button_close.css);
@import url(./_submit/button_submit.css);
@import url(./_submit/_inactive/button_submit_inactive.css);

.button {
  padding: 0;
  cursor: pointer;

  -webkit-transition: opacity .5s linear;
  -o-transition: opacity .5s linear;
  transition: opacity .5s linear;
}

.button:hover {
  opacity: .6;
}

.button,
.button:active,
.button:focus {
    outline: none;
}
